numpy
matplotlib
# scipy
# cupy

# require for huggingface_lesson
pandas
scikit-learn
umap-learn

# jupyterlab
pysqlite3

# huggingface transformers
transformers
datasets
accelerate
torch
torchvision
torchaudio

# require for some models
sentencepiece
protobuf
einops